body {
	
	position: relative;
	
}

h1 {
  
  font-weight: 500;
  padding: 0.25em;
  margin: 0;
  
}

/******
 HEADER
*******/

header {
  
  position: fixed;
  box-sizing: border-box;
  top: 60px;
  width: 100%;
  height: 40px;
  margin: 0;
  padding: 0 10px;
  background-color: slategray;
  z-index: 2;
  box-shadow: 0 5px 0 2px #ddd;
  
}

nav {
  
  position: fixed;
  box-sizing: border-box;
  border-right: thin solid white;
  left: 0;
  bottom: 0;
  height: calc(100% - 100px);
  width: 200px;
  margin: 0;
  padding: 0;
  background-color: aliceblue;
  z-index: 1;
  overflow: auto;
  box-shadow: 5px 0 0 2px #ddd;
  
}

nav input {
	
	margin: 1em;
	border-radius: 10px;
	
}

nav input:focus{
	
	outline: none;
  border-color: #ddd;
	box-shadow: 0 0 10px #ddd;
	
}

nav a {
  
  box-sizing: border-box;
  display: flex;
  flex-flow: column no-wrap;
  margin: 0;
  border-bottom: thin solid white;
  width: 100%;
  height: 50px;
  padding: 0 10px;
  align-items: center;
  text-transform: capitalize;
  text-decoration: none;
  color: black;
  
}

nav a:hover {
  
  border-left: 5px solid slategray;
  
}

nav a:active {
  
  border-left: 5px solid green;
  
}

.app-container {
  
  position: fixed;
  box-sizing: border-box;
  width: calc(100% - 200px);
  height: calc(100% - 140px);
  margin: 0;
  padding: 0;
  background-color: white;
  right: 0;
  top: 100px;
  z-index: 1;
  overflow: auto;
  flex-flow: row wrap;
	justify-content: space-around;
	display: flex;
  
}

.card {
	
	display: flex;
	width: 20%;
	height: calc(20vw / 1.6);
	border: thin solid #ddd;
	padding: 1em;
	margin: 20px 10px;
	
}

footer {
  
  position: fixed;
  box-sizing: border-box;
  bottom: 0;
  width: 100%;
  height: 40px;
  margin: 0;
  padding: 0 10px;
  background-color: slategray;
  z-index: 2;
  box-shadow: 0 -5px 0 2px #ddd;
  
}
