@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800);

body {
	
	position: relative;
  font-family: 'Open Sans', sans-serif;
	
}

h1 {
  
  margin: 0;
  padding: 0;
  display: inline-block;
  
}

/******
 HEADER
*******/

header {
  
  position: relative;
  height: 600px;
  width: 100%;
  background-color: aliceblue;
  margin: 0 0 1em;
  padding: 0;

}

.searchbar {
  
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 80px;
  margin: 0 auto;
  padding: 0;
  background-color: #ddd;
  z-index: 1;
  
}


.sticky-navbar {
  
  position: fixed;
  top: 0px;
  width: 100%;
  height: 80px;
  margin: 0 auto;
  padding: 0;
  background-color: #ddd;
  z-index: 9999;
  display: none;
  
}

.searchbar input,
.sticky-navbar input {
	
  position: absolute;
  margin: 0 auto;
  top: 20%;
  left: 25%;
  border-radius: 8px;
  width: calc(50% - 20px);
  height: calc(50% - 20px);
  padding: 10px;
	
}

input:focus{
	
  outline: none;
  border-color: #ddd;
  box-shadow: 0 0 10px #ddd;
	
}

nav {
  
  display: flex;
  box-sizing: border-box;
  border-right: thin solid white;
  top: 0;
  height: 75px;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: aliceblue;
  z-index: 1;
  box-shadow: 5px 0 0 2px #ddd;
  justify-content: flex-end;
  
  
}

nav a {
  
  display: flex;
  box-sizing: border-box;
  width: 75px;
  height: 75px;
  margin: 0;
  padding: 0;
  border: thin solid black;
  align-items: center;
  text-decoration: none;
  
}

.app-container {
  
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 0 0 80px;
  background-color: white;
  z-index: 1;
  flex-flow: row wrap;
  justify-content: center;
  display: flex;
  
}

.card {
	
	display: flex;
	width: 200px;
	height: 100px;
	border: thin solid #ddd;
	margin: 1em;
	
}

footer {
  
  position: absolute;
  box-sizing: border-box;
  bottom: 0;
  width: 100%;
  height: 40px;
  margin: 0;
  padding: 0 10px;
  background-color: slategray;
  z-index: 2;
  box-shadow: 0 -5px 0 2px #ddd, inset 0 25px 50px -25px #fff;
  
}
